div.fragment {
  padding: 1em;
}

div.line {
  min-height: 1.2em;
}

div.fragment > .line:first-child:empty {
  display: none;
}

code {
  padding: 0 0.1em;
}

p {
  max-width: 100ch;
  text-align: justify;
}
